extends layout

block content
    h1= title
    ul
        each route in routes
            li
                a(href=route.path) #{route.title}
                div
                    span #{route.description}
