extends layout

block content
    form(method='GET' action='/task2')
        input( type='text' name='userId' value=userId)
        input( type='submit' value='Submit')
    h1 Posts:
    ol
        each post in posts
            div.panel.panel-default
                div.panel-heading= post.title
                div.panel-body= post.body
            ol.comments
            each comment in post.comments
                ol.comments
                    div.panel.panel-default
                        div.panel-body= comment.body

