extends layout

block content
    form(method='GET' action='/task1')
        input( type='text' name='query' value=query)
        input( type='submit' value='Submit')
    h1 Results:
    ol
        each searchResult in searchResults
            div
                h3
                    a(href=searchResult.url) #{searchResult.title}
                div
                    span= searchResult.text

