body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h3 {
  margin-bottom: 0;
}

p.post {
  text-indent: 30px;
}
p.comment {
  padding-left: 50px;
}
